<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315089711912-lujgnmp3iomg842moipt2o67im562gkl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315089711912-lujgnmp3iomg842moipt2o67im562gkl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>315089711912-hrd1k63lo689p7fb55m36oag930oji2r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAL08EK55NG7C_nGmPWQeH2jQj7bChuThI</string>
	<key>GCM_SENDER_ID</key>
	<string>315089711912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prod.mypwr</string>
	<key>PROJECT_ID</key>
	<string>mypwrapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mypwrapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315089711912:ios:e70ef6964e489c1883961d</string>
	<key>DATABASE_URL</key>
	<string>https://mypwrapp-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>